Source: nix
Section: devel
Priority: optional
Maintainer: Kai Harries <kai.harries@gmail.com>
Build-Depends: debhelper (>= 10),
               bison,
               curl,
               dh-autoreconf,
               docbook-xsl-ns,
               docbook5-xml,
               flex,
               libboost-dev,
               libboost-context-dev,
               libbrotli-dev,
               libbz2-dev,
               libcurl4-gnutls-dev | libcurl4-openssl-dev | libcurl-ssl-dev,
               libdbd-sqlite3-perl,
               libgc-dev,
               liblzma-dev,
               libseccomp-dev,
               libsodium-dev,
               libsqlite3-dev,
               libssl-dev,
               libwww-curl-perl,
               libxml2-utils,
               pkg-config,
               xsltproc,
Standards-Version: 4.2.1
Homepage: https://nixos.org/nix/
Vcs-Git: https://github.com/NixOS/nix.git
Vcs-Browser: https://github.com/NixOS/nix

Package: nix
Architecture: any
Depends: bzip2,
         curl,
         libdbd-sqlite3-perl,
         libwww-curl-perl,
         perl,
         xz-utils,
         ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Description: Purely functional package manager
 A powerful package manager for Linux and other Unix systems that
 makes package management reliable and reproducible. Nix provides
 atomic upgrades and rollbacks, side-by-side installation of multiple
 versions of a package, multi-user package management and easy setup
 of build environments.
